body{
 background: lightgray;
}

.login-form{
    margin:0 auto;
    width: 35%;
    text-align: center;
    background: white;
    padding: 2em 0;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

.login-form__button{
    margin: 1em ;

}